@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer confirmación de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido reestablecida. Por favor <a asp-page="./Login">haz click aqui para iniciar sesión.</a>.
</p>
