@model eGym.Models.Marca

@{
    ViewData["Title"] = "Añadir nueva marca";
}

<h1>Crear</h1>

<h4>Marca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resumen" class="control-label"></label>
                <input asp-for="resumen" class="form-control" />
                <span asp-validation-for="resumen" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <img src="" id="imagen" style="max-width:150px" />
                <label asp-for="imagenMarca" class="control-label"></label>
                <input name="seleccionImg" id="seleccionImg" type="file" accept="image/jpeg" />
                <label class="control-label">Seleccione una imagen</label>

                <span asp-validation-for="imagenMarca" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/preview.js"></script>
